<h2 id='title'>Welcome to Ember.js</h2>

<span class="one">{{i18n 'foo' count=colorCount}}</span>
<span class="two">{{i18n 'age' age}}</span>
<span class="three">{{i18n 'person' 2}}</span>
<span class="four">{{i18n 'dependentPerson' numDependentPeople}}</span>
<span class="five">{{i18n 'nl2br' '<div></div>'}}</span>
<span class="six">{{i18n 'nl2br' '<div></div>' htmlSafe=true}}</span>


<a class='add-dependent' {{action 'addDependentPerson'}}>Add Dependent Person</a>
